<% search_categories=["All","Asia","Europe","Africa","Americas","Oceania"]%>
<nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">        
  <div class="flex justify-center w-full mx-auto">
    <%= form_with url: search_country_path, method: :get, data: { controller: 'auto-submit' }, class: "relative flex" do |f| %>
      <input type="text" data-action="input->auto-submit#submit input->search-countries#inputSearch" name="query" class="flex-grow min-w-full lg:min-w-80 p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-l-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search country name" />
      <button type="submit" class="p-2.5 text-sm font-medium text-white bg-red-700 rounded-r-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
    <% end %>
  </div>
</nav>