<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 p-4 pt-28">
  <% countries.each do |country| %>
    <a href="<%= country_path(country["cca2"]) %>" data-turbo="false" class="flex flex-col rounded-lg md:max-w-xl hover:bg-white dark:bg-gray-800 dark:hover:bg-gray-700">
      <img class="object-cover w-full rounded-lg h-60 shadow-xs" src="<%= country["flags"]["svg"] %>" alt="">
      <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-md font-semibold tracking-tight text-gray-900 dark:text-white"><%= country["name"]["official"] %></h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= country["continents"][0] %></p>
      </div>
    </a>
  <% end %>
</div>